{% extends "base.html" %}


{% block content %}

  <h2>Личный кабинет</h2>
  <p>Добро пожаловать, {{ current_user.name or current_user.email }}!</p>

  {% for course, progress in progress_map.items() %}
    <h3>{{ course.title }}</h3>
    <ul>
      {% for item in progress %}
        <li>
          <a href="{{ url_for('lessons.lesson_detail', lesson_id=item.lesson.id) }}">
            {{ item.lesson.title }}
          </a>
          {% if item.completed %} 
            ✅ 
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

{% endblock content %}